.react-bootstrap-table-pagination-list {
    text-align: right;
    width: 100%;
  }
  
  .react-bootstrap-table-page-btns-ul {
    float: none;
  }

  .contact-status-label{
    max-width: unset;
    width: 80%;
  }