.swal{
    &.html-container{
        font-size: 16px;
    }
    &.btn-confirm{
        background-color: #4fb747 !important;
        font-size: 17px;
        color: white;
        font-weight: 400;
        margin: 10px;
    }
    &.btn-cancel{
        background-color: #dc3545 !important;
        font-size: 17px;
        color: white;
        font-weight: 400;
        margin: 10px;
    }
    &.icon-content{
        border: 4px solid;
    }
    &.swal2-actions{
        margin: 1.25em auto 0;
    }
}