.footer {
    background-color: #4fb747 !important;
}

.footer-copyright {
    min-height: 80px !important;
    background-color: #4fb747 !important;
}

.bg-dark {
    background-color: #4fb747 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

.banner:before {
    background-color: #4fb747 !important;
}

.bg-light {
    background-color: #fff!important;
}

.banner-detail {
    position: unset !important;
}

.btn-success {
    color: #fff;
    background-color: #f27024 !important;
    border-color: #f27024 !important;
}

h3 {
    color: #2b425b;
    font-size: 22px !important;
}

.point_txt {
    height: 31px !important;
    margin-bottom: 10px;
}

.event-item {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.01), 0 3px 1px -4px rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.12) !important;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 25px;
    border-radius: 5px;
    padding-top: 14px;
    border-radius: 5px;
}

.mb-4, .my-4 {
    margin-bottom: 0.95 rem!important;
}

iframe.goog-te-banner-frame{ display: none !important;}
body {position: static !important; top:0px !important; padding-top: 65px !important;}
label.error {
    color: red;
    font-size: 10px;
    margin-bottom: 0px;
}
.content-ck img {
    max-width: 100%;
    min-width: auto;
    height: auto;
}
.home-products .card > a {
    min-height: 175px;
}
.footer-info .list-unstyled {
    font-weight: 200;
}
.b24-widget-button-position-top-right {
    bottom: 200px !important;
}
.b24-widget-button-position-top-right.b24-widget-button-top .b24-widget-button-social {
    top: -150px !important;
    bottom: auto;
}
@media (max-width: 991.98px) {
    .b24-widget-button-position-top-right {
        bottom: 70px !important;
        right: 8px !important;
    }
}

.pv-img-big {
    width: 620px;
    height: 410px;
    text-align: center;
}
.pv-img-slider .slick-slide {
    width: 310px;
    height: 206px;
}
.pv-img-big img, .pv-img-slider .slick-slide img {
    max-width: 100%;
    width: auto;
    height: 100%;
    opacity: 1;
}

/*============+++++-+/+/+/+/+/========+++++-+/+/+/+/+/================
             single_shop page
==============+++++-+/+/+/+/+/==========+++++-+/+/+/+/+/===============*/
.single_shop_area {
    padding: 50px 0; }
.single_shop_area img {
    width: 100%; }
.single_shop_area .single_shop_content {
    margin-top: 20px; }
.single_shop_area .single_shop_content h4 {
    color: #FF5E18;
    font-weight: 600;
    margin-bottom: 25px; }
.single_shop_area .single_shop_content p {
    font-size: 15px;
    line-height: 1.7; }
.single_shop_area .price {
    color: #323232;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px; }
.single_shop_area .item_name {
    margin-bottom: 25px; }
.single_shop_area .item_name span {
    color: #323232;
    font-weight: 600;
    margin-right: 5px; }
.single_shop_area .cart_quintity {
    overflow: hidden; }
.single_shop_area .cart_quintity input {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    color: #222222;
    float: left;
    height: 40px;
    margin-bottom: 30px;
    margin-right: 30px;
    padding-right: 10px;
    text-align: center;
    width: 77px; }
.single_shop_area .cart_quintity a.custom_btn, .single_shop_area .cart_quintity a.blog_btn, .single_shop_area .cart_quintity .welcome_area .single_welcome_slider .welcome_content a, .welcome_area .single_welcome_slider .welcome_content .single_shop_area .cart_quintity a, .single_shop_area .cart_quintity .booking_area form.booking_form a, .booking_area form.booking_form .single_shop_area .cart_quintity a, .single_shop_area .cart_quintity .blog2_area .single_blog .blog_content a.blog_btn, .blog2_area .single_blog .blog_content .single_shop_area .cart_quintity a.blog_btn {
    padding: 8px 0;
    margin-top: 0; }
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .single_shop_area {
        padding: 60px 0 50px; }
    .single_shop_area .single_shop_content {
        margin-top: 15px; }
    .single_shop_area .single_shop_content h4 {
        margin-bottom: 15px; }
    .single_shop_area .single_shop_content p {
        font-size: 13px; }
    .single_shop_area .price {
        margin-bottom: 0; }
    .single_shop_area .item_name {
        margin-bottom: 15px; } }

@media (min-width: 768px) {
    .footer-copyright {
        background-image: none !important;
    }
}

@media (min-width: 1200px) {
    .footer-copyright:before {
        border-color: #4fb747 !important;
    }
    .footer-copyright:after {
        background-color: #4fb747 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_shop_area {
        padding: 80px 0 75px; }
    .single_shop_area .single_shop_content {
        margin-top: 0; }
    .single_shop_area .single_shop_content h4 {
        margin-bottom: 10px; }
    .single_shop_area .price {
        margin-bottom: 0; }
    .single_shop_area .item_name {
        margin-bottom: 15px; }
    .single_shop_area .cart_quintity input {
        margin-bottom: 20px; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single_shop_area .single_shop_content {
        margin-top: 0; } }

.social_links > span {
    color: #323232;
    font-weight: 600;
    margin-right: 10px; }

.review_area {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding-bottom: 100px; }
.review_area .review_tab.nav-tabs {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    margin-bottom: 30px;
    overflow: hidden;
    width: 100%; }
.review_area .review_tab.nav-tabs li {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
.review_area .review_tab.nav-tabs li a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    border: medium none !important;
    color: #323232;
    font-size: 18px;
    font-weight: 600;
    margin: 0 30px 0 0;
    padding-bottom: 18px;
    position: relative; }
.review_area .review_tab.nav-tabs li a:after {
    background: #FF5E18;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
.review_area .review_tab.nav-tabs li.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
.review_area .review_tab.nav-tabs li.active a {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
.review_area .review_tab.nav-tabs li.active a:after {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
.review_area #discription p {
    margin-bottom: 15px;
    line-height: 1.76; }
.review_area #discription p:last-child {
    margin-bottom: 0; }
.review_area .single_reviews {
    position: relative; }
.review_area .single_reviews .reviwer_profile {
    background-size: cover;
    border-radius: 50%;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px; }
.review_area .single_reviews .shop_review_contetn {
    padding-left: 64px;
    padding-top: 15px; }
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .review_area {
        padding-bottom: 60px; }
    .review_area .review_tab.nav-tabs {
        text-align: center; }
    .review_area .review_tab.nav-tabs > li {
        display: inline-block;
        float: none; }
    .review_area .shop_review_contetn > h4 {
        font-size: 14px; }
    .review_area .shop_list.rating {
        padding-top: 7px; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .review_area {
        padding-bottom: 70px; } }

.add_review_area {
    margin-top: 40px;
    padding: 30px 20px; }
.add_review_area .shop_add_review_title h4 {
    font-weight: 600;
    margin-bottom: 10px; }
.add_review_area .shop_add_review_title span {
    display: block; }
.add_review_area form.review_form {
    margin-top: 25px;
    overflow: hidden; }
.add_review_area form.review_form .review_information {
    float: left;
    width: 40%; }
.add_review_area form.review_form .review_information input {
    border: 1px solid #ccc;
    line-height: 50px;
    margin-bottom: 20px;
    text-indent: 13px;
    width: 100%;
    height: 50px; }
.add_review_area form.review_form textarea {
    border: 1px solid #ccc;
    float: left;
    height: 130px;
    margin-bottom: 20px;
    margin-left: 4%;
    resize: none;
    text-indent: 12px;
    width: 56%;
    padding-top: 10px; }
.add_review_area form.review_form a.custom_btn, .add_review_area form.review_form a.blog_btn, .add_review_area form.review_form .welcome_area .single_welcome_slider .welcome_content a, .welcome_area .single_welcome_slider .welcome_content .add_review_area form.review_form a, .add_review_area form.review_form .booking_area form.booking_form a, .booking_area form.booking_form .add_review_area form.review_form a, .add_review_area form.review_form .blog2_area .single_blog .blog_content a.blog_btn, .blog2_area .single_blog .blog_content .add_review_area form.review_form a.blog_btn {
    margin-top: 0;
    padding: 10px 0; }
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .add_review_area {
        margin-top: 40px;
        padding: 0; }
    .add_review_area .shop_add_review_title h4 {
        margin-bottom: 5px; }
    .add_review_area form.review_form .review_information {
        float: none;
        width: 100%; }
    .add_review_area form.review_form .review_information input {
        height: 40px;
        margin-bottom: 15px; }
    .add_review_area form.review_form textarea {
        margin: 0 0 20px;
        width: 100%; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .add_review_area {
        padding-top: 0;
        padding-bottom: 0; }
    .add_review_area form.review_form textarea {
        margin-left: 3%;
        width: 57%; } }


z
