#bg-load {
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.loader {
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    top: 35%;
    background: url('../images/loader.gif') no-repeat center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 146px;
    height: 26px;
}
span.required:before {
    color: red;
    content: "*";
}
label.error {
    color: #dd4b39;
    font-size: 11px;
    font-weight: 600;
    margin: 0px;
    display: block;
}
.panel-header.with-border {
    border-bottom: 1px solid rgba(0,0,0,0.07);
}
.per_page {
    width: 150px;
    float: right;
    margin: 20px 0;
    height: 32px;
}



/**
 * Responsive Bootstrap Tabs by @hayatbiralem
 * 15 May 2015
 */
@media screen and (max-width: 479px) {
    .media-res {
        width: 100%;
    }
    .nav-tabs-responsive > li {
        display: none;
        width: 23%;
    }
    .nav-tabs-responsive > li > a {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        width: 100%;
        width: 100%;
        text-align: center;
        vertical-align: top;
    }
    .nav-tabs-responsive > li.active {
        width: 54%;
    }
    .nav-tabs-responsive > li.active:first-child {
        margin-left: 23%;
    }
    .nav-tabs-responsive > li.active, .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
        display: block;
    }
    .nav-tabs-responsive > li.prev, .nav-tabs-responsive > li.next {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    .nav-tabs-responsive > li.next > a, .nav-tabs-responsive > li.prev > a {
        -webkit-transition: none;
        transition: none;
    }
    .nav-tabs-responsive > li.next > a .text, .nav-tabs-responsive > li.prev > a .text {
        display: none;
    }
    .nav-tabs-responsive > li.next > a:after, .nav-tabs-responsive > li.prev > a:after {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .nav-tabs-responsive > li.prev > a:after {
        content: "\e079";
    }
    .nav-tabs-responsive > li.next > a:after {
        content: "\e080";
    }
    .nav-tabs-responsive > li.dropdown > a > .caret {
        display: none;
    }
    .nav-tabs-responsive > li.dropdown > a:after {
        content: "\e114";
    }
    .nav-tabs-responsive > li.dropdown.active > a:after {
        display: none;
    }
    .nav-tabs-responsive > li.dropdown.active > a > .caret {
        display: inline-block;
    }
    .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-left {
        left: 0;
        right: auto;
    }
    .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-center {
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .nav-tabs-responsive > li.dropdown .dropdown-menu.pull-xs-right {
        left: auto;
        right: 0;
    }
}
/**
 * Demo Styles
 */
.wrapper {
    padding: 15px 0;
}
.bs-example-tabs .nav-tabs {
    margin-bottom: 15px;
}
@media (max-width: 479px) {
    #narrow-browser-alert {
        display: none;
    }
    .media-res {
        width: 100%;
    }
}

.load1{
    display: none;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #fffdfd40;
    height: 100%;
}

.alert-success-custom{
    color: #006d3f;
    background-color: #ccf6e4;
    border-color: #b8f2da;
    font-size: 14px;
}

.alert-danger-custom{
    color: #781d2d;
    background-color: #fad7dd;
    border-color: #f8c7d0;
    font-size: 14px;
}

.alert-recharge{
    border-radius: 5px;
    background-color: #e3e6ea;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}

.alert-bank{
    border-radius: 5px;
    color: #006d3f;
    background-color: #ccf6e4;
    margin-top: 10px;
    padding: 20px 10px 20px 10px;
}
.form-bank{
    //text-align: center;
    font-size: 16px;
}

.img-bank{
    text-align: center;
}
.logo-bank {
    width: 127px;
    height: 50px;
}
.alert-success-bank{
    color: #006d3f;
    background-color: #ccf6e4;
    border-color: #b8f2da;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid #edf2f9;
    border-radius: 0.375rem;
}

.bg-card {
    background-size: contain;
    background-position: right;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    z-index: 0;
}
