.panel-balance{
    padding: 0px 10px 0px 10px!important;
    font-size: 2.5rem;
}
.comment-info{
    padding: 10px 5px 10px 5px;
    background-color: #edf2f9;
    border-radius: 5px;
    word-break: break-all;
}
.comment-input{
    border-radius: 15px;
    background-color:#edf2f9;
}
.comment-input:hover{
    cursor: default;
}
.reaction-action{
    padding-top: 2px;
}
.reaction-action a{
    color: #0a6dbd;
}
.num-interaction {
    color: #2c7be5;
}
.panel{
    border-radius: 5px;
}
.pad-top{
    padding-top: 10px;
}
#main-post .panel{
    border-radius: 10px;
}
.panel-body{
    padding: 15px 20px 10px;
}
.hide{
    display: none;
}
.img-responsive{
    object-fit: scale-down;
}
.media-info{
    padding: 15px 5px 10px 15px;
}
.media-info .text-main{
    font-weight: 500;
}
.media-info .media-left{
    border-radius: 5px;
    padding: 15px;
}
.media-info .media-body{
    padding: 5px;
}
.media .follow{
    background-color: #e6effc;
}
.media .follow i{
    color: #2f7be5;
}
.media .like-page{
    background-color: #e5f7fe;
}
.media .like-page i{
 color: #5cbdfc;
}
.media .nap-thang{
    background-color: #e0faef;
}
.media .nap-thang i{
    color: #73d37c;
}
.media .giam-0{
    background-color: #fcf0e8;
}
.media .giam-0 img{
    color: #e97e3c;
}
.fa-check-circle{
    font-size: 13px;
}
