$ipad-screen:767px;

.custom-alert{
    position: fixed;
    z-index: 999;
    right: 0px;
    margin: 35px 40px;
    top: 0px;
    min-height: 80px;
    min-width: 280px;
    @media screen and (max-width:$ipad-screen) {
        margin: 40px 0px;
        min-height: 40px;
        width: 100%;
    }
}